@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    max-width: 100vw;

    header {
        margin-top: 5vh;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        column-gap: 10px;
        min-height: 80vh;
        width: 90%;

        article {
            width: 100%;
            height: 60vh;
        }

        #clickEffectContainer {
            display: grid;
            grid-template-rows: 1fr 3fr;
            place-items: center;
            background: rgba(0, 128, 0, 0.5);
            cursor: pointer;

            #instructionsOne {
                display: grid;
                place-items: center;
                font-weight: 500;
                font-size: 0.9rem;
                background:rgba(0, 128, 0, 0.2);
                width: 100%;
                height: 100%;
            }

            #videoContainer {
                display: grid;
                grid-template-rows: 3fr 1fr;
                place-items: center;

                iframe {
                    width: 100%;
                    height: 100%;
                    display: none;
                }

                button {
                    cursor: pointer;
                    font-family: 'Poppins', sans-serif;
                    width: 8vw;
                    padding: 1% 0%;
                }
            }
        }
        
        #tweetsContainer {
            display: grid;
            grid-template-rows: 1fr 3fr;
            place-items: center;
            background: rgba(135, 206, 235, 0.5);

            #instructionsTwo {
                display: grid;
                place-items: center;
                font-weight: 500;
                font-size: 0.9rem;
                background:rgba(135, 206, 235, 0.5);
                width: 100%;
                height: 100%;
            }

            div {
                display: grid;
                place-items: center;
                row-gap: 40px;
    
                #randomTweets {
                    font-size: 1.2rem;
                    font-weight: 400;
                    padding: 0% 7%;
                }
    
                #usernames {
                    font-weight: 600;
                    font-size: 1rem;
                }

                #dateCreated {
                    font-size: 1rem;
                }
            }
        }

        #hoverEffectContainer {
            display: grid;
            grid-template-rows: 1fr 3fr;
            place-items: center;
            background: rgba(216, 112, 147, 0.5);

            #instructionsThree {
                display: grid;
                place-items: center;
                font-weight: 500;
                font-size: 0.9rem;
                background:rgba(216, 112, 147, 0.2);
                width: 100%;
                height: 100%;
            }

            #hoverContainer {
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);

                .box {
                    width: 100%;
                    height: 92px;
                    background:rgb(216, 112, 147);
                    z-index: 1;
                    outline: 1px solid white;
                    cursor: pointer;
                }

                img {
                    position: absolute;
                    top: 5vh;
                    left: 5vh;
                    width: 80%;
                }
            }
        }
    }
}